<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12 class="text-xs-center" mt-5>
        <h1>About</h1>
      </v-flex>
      <v-flex xs12 class="text-xs-center" mt-3>
        <p>This is a user's About page</p>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  name: 'About'
}
</script>
