<template>
  <v-container>
    <v-row>
      <v-col md="11">
        <h1>CRUD</h1>
      </v-col>
      <v-col md="1">
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              class="mx-2"
              fab
              dark
              color="indigo"
              small
              v-bind="attrs"
              v-on="on"
            >
              <v-icon>
                mdi-plus
              </v-icon>
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">Add</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col>
                    <v-text-field
                      v-model="editedItem.name"
                      label="Name"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <v-text-field
                      v-model="editedItem.surname"
                      label="Surname"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <v-text-field
                      v-model="editedItem.age"
                      label="Age"
                      type="number"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="addItem()">
                Save
              </v-btn>
              <v-btn color="blue darken-1" text @click="close()">
                Cancel
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="headline">Are you sure?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="deleteConfirm()"
                >OK</v-btn
              >
              <v-btn color="blue darken-1" text @click="closeDelete()"
                >Cancel</v-btn
              >
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-col>
    </v-row>
    <v-data-table
      :headers="headers"
      :items="players"
      :items-per-page="5"
      class="elevation-1"
    >
      <template v-slot:item.actions="data">
        <v-btn fab dark small color="cyan" @click="editItem(data)">
          <v-icon dark>
            mdi-pencil
          </v-icon>
        </v-btn>
        <v-btn fab dark small color="red" @click="deleteItem(data)">
          <v-icon dark>
            mdi-delete
          </v-icon>
        </v-btn>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
import axios from 'axios'
// import userService from '../views/UserService'
export default {
  data () {
    return {
      dialog: false,
      dialogDelete: false,
      headers: [
        { text: 'Name', value: 'name' },
        { text: 'Surname', value: 'surname' },
        { text: 'Age', value: 'age' },
        { text: 'Actions', value: 'actions', sortable: false }
      ],
      players: [],
      Index: -1,
      editedItem: {
        name: '',
        surname: '',
        age: 1
      },
      defaultItem: {
        name: '',
        surname: '',
        age: 1
      }
    }
  },
  methods: {
    addItem () {
      if (this.Index > -1) {
        this.editedItem = Object.assign(
          this.players[this.Index],
          this.editedItem
        )
        axios
          .put('http://127.0.0.1:3000/users/', this.editedItem)
          .then(res => {
            console.log(res)
            this.getusers()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        this.players.push(this.editedItem)
        console.log(this.editedItem)
        axios
          .post('http://127.0.0.1:3000/users', this.editedItem)
          .then(res => {
            console.log(res)
            this.getusers()
          })
          .catch(err => {
            console.log(err)
          })
      }
      this.close()
    },
    editItem (data) {
      console.log('Edit')
      this.dialog = true
      this.Index = this.players.indexOf(data.item)
      this.editedItem = Object.assign({}, data.item)
    },
    deleteItem (data) {
      console.log('Delete')
      this.dialogDelete = true
      this.Index = this.players.indexOf(data.item)
      this.editedItem = Object.assign({}, data.item)
      axios
        .delete('http://127.0.0.1:3000/users/' + this.editedItem._id)
        .then(res => {
          console.log(res)
        })
        .catch(err => {
          console.log(err)
        })
    },
    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.Index = -1
      })
    },
    deleteConfirm () {
      this.players.splice(this.Index, 1)
      this.getusers()
      this.closeDelete()
    },
    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.Index = -1
      })
    },
    getusers () {
      axios
        .get('http://127.0.0.1:3000/users')
        .then(res => {
          this.players = res.data
          console.log(res)
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  mounted () {
    this.getusers()
  }
}
</script>
