<template>
  <v-form>
    <v-container>
      <v-layout>
        <v-flex xs12 class="text-xs-center" mt-5>
          <h1 class="text-center">Form</h1>
        </v-flex>
      </v-layout>
      <v-row>
        <v-col cols="3">
          <v-text-field
            label="Student ID"
            placeholder="Student ID"
            v-model="student"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="3">
          <v-text-field
            label="Name"
            placeholder="Name"
            v-model="name"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="3">
          <v-text-field
            label="Surname"
            placeholder="Surname"
            v-model="surname"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-btn depressed color="primary" class="mr-4" @click="summit">
          OK
        </v-btn>
        <v-btn depressed color="error" class="mr-4" @click="clear">
          Clear
        </v-btn>
      </v-row>
      <v-row>
        <v-text-field
          label="Result"
          v-model="showmsg"
          outlined
          readonly
          style="margin-top: 20px"
        ></v-text-field>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
export default {
  data: () => ({
    student: '',
    name: '',
    surname: '',
    showmsg: ''
  }),
  methods: {
    summit () {
      console.log(this.student + ' ' + this.name + ' ' + this.surname)
      this.showmsg = this.student + ' ' + this.name + ' ' + this.surname
    },
    clear () {
      this.student = ''
      this.name = ''
      this.surname = ''
      this.test = ''
    }
  }
}
</script>
