<template>
  <v-app id="inspire">
    <v-app-bar app color="indigo" dark>
      <v-app-bar-nav-icon @click.stop="mini = !mini" />
      <v-toolbar-title style="width: 300px" class="ml-0 pl-4">
        <span class="hidden-sm-and-down">Library Burapha University</span>
      </v-toolbar-title>
      <v-spacer />
      <router-link to="/about" tag="v-btn">
        <v-btn icon>
          <v-icon>mdi-logout</v-icon>
        </v-btn>
      </router-link>
    </v-app-bar>
    <v-main>
      <v-container class="scroll-y" fluid>
        <v-row align="center" justify="center">
          <v-col cols="8" md="8">
            <v-card class="ml-5 mr-5">
              <v-app-bar dark color="#2C3A47">
                <v-btn icon>
                  <v-icon>person</v-icon>
                </v-btn>
                <v-toolbar-title>รายชื่อบุคลากรทั้งหมด</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-app-bar>
              <v-container>
                <v-card class="mx-auto elevation-19">
                  <v-card-title>
                    <span>ค้นหาชื่อบุลคลากร</span>
                    <v-col cols="12" sm="3" md="4">
                      <v-text-field
                        v-model="search"
                        append-icon="search"
                        label="Search"
                        outlined
                        hide-details
                        color="#2C3A47"
                      >
                      </v-text-field>
                    </v-col>

                    <v-spacer></v-spacer>
                    <v-dialog v-model="dialog" persistent max-width="60%">
                      <template v-slot:activator="{ on }">
                        <v-btn color="green" v-on="on" outlined="">
                          <v-icon left>add_circle</v-icon> เพิ่มบุคลากร
                        </v-btn>
                      </template>
                      <v-card>
                        <v-form
                          @submit.prevent="savePost"
                          ref="postData"
                          lazy-validation
                          enctype="multipart/form-data"
                          autocomplete="off"
                        >
                          <v-card-title>
                            <span class="headline">เพิ่มข้อมูลส่วนบุคคล</span>
                          </v-card-title>
                          <v-card-text>
                            <v-container grid-list-md>
                              <v-row>
                                <v-col cols="12" sm="4">
                                  <v-flex xs12 sm12 md12>
                                    <v-text-field
                                      label="คำนำหน้าวิชาการ"
                                      v-model="postData.academic_prefix"
                                      color="#2C3A47"
                                    ></v-text-field>
                                  </v-flex>
                                </v-col>
                              </v-row>
                              <v-row>
                                <v-col cols="12" sm="4">
                                  <v-select
                                    v-model="postData.prefix"
                                    :items="prefixs"
                                    label="คำนำหน้าชื่อ"
                                  ></v-select>
                                </v-col>
                                <v-col cols="12" sm="4">
                                  <v-flex xs12 sm12 md12>
                                    <v-text-field
                                      label="ชื่อ-นามสกุล"
                                      v-model="postData.name_surname"
                                      color="#2C3A47"
                                    ></v-text-field>
                                  </v-flex>
                                </v-col>
                                <v-col cols="12" sm="4">
                                  <v-menu
                                    ref="menu"
                                    v-model="menu"
                                    :close-on-content-click="false"
                                    :return-value.sync="postData.service_date"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="290px"
                                  >
                                    <template v-slot:activator="{ on, attrs }">
                                      <v-text-field
                                        v-model="postData.service_date"
                                        label="วันที่รับราชการ"
                                        prepend-icon="mdi-calendar"
                                        readonly
                                        v-bind="attrs"
                                        v-on="on"
                                      ></v-text-field>
                                    </template>
                                    <v-date-picker
                                      v-model="postData.service_date"
                                      no-title
                                      scrollable
                                      locale="th"
                                    >
                                      <v-spacer></v-spacer>
                                      <v-btn
                                        text
                                        color="primary"
                                        @click="menu = false"
                                      >
                                        Cancel
                                      </v-btn>
                                      <v-btn
                                        text
                                        color="primary"
                                        @click="
                                          $refs.menu.save(postData.service_date)
                                        "
                                      >
                                        OK
                                      </v-btn>
                                    </v-date-picker>
                                  </v-menu>
                                </v-col>
                              </v-row>
                              <v-row>
                                <v-col cols="12" sm="4">
                                  <v-flex xs12 sm12 md12>
                                    <v-text-field
                                      label="เลขที่อัตรา"
                                      v-model="postData.ratenumber"
                                      color="#2C3A47"
                                    ></v-text-field>
                                  </v-flex>
                                </v-col>
                                <v-col cols="12" sm="4">
                                  <v-flex xs12 sm12 md12>
                                    <v-text-field
                                      label="ตำแหน่ง"
                                      v-model="postData.position"
                                      color="#2C3A47"
                                    ></v-text-field>
                                  </v-flex>
                                </v-col>
                                <v-col cols="12" sm="4">
                                  <v-select
                                    v-model="postData.division"
                                    :items="prefixs"
                                    label="ฝ่าย/กอง/ภาควิชา"
                                  ></v-select>
                                </v-col>
                              </v-row>
                              <v-row>
                                <v-col cols="12" sm="4">
                                  <v-flex xs12 sm12 md12>
                                    <v-text-field
                                      label="สังกัด"
                                      v-model="postData.affiliate"
                                      color="#2C3A47"
                                    ></v-text-field>
                                  </v-flex>
                                </v-col>
                                <v-col cols="12" sm="4">
                                  <v-flex xs12 sm12 md12>
                                    <v-text-field
                                      label="งาน/สาขาวิชา"
                                      v-model="postData.branch"
                                      color="#2C3A47"
                                    ></v-text-field>
                                  </v-flex>
                                </v-col>
                                <v-col cols="12" sm="4">
                                  <v-flex xs12 sm12 md12>
                                    <v-text-field
                                      label="สายงาน"
                                      v-model="postData.line_of_work"
                                      color="#2C3A47"
                                    ></v-text-field>
                                  </v-flex>
                                </v-col>
                              </v-row>
                              <v-row>
                                <v-col cols="12" sm="4">
                                  <v-flex xs12 sm12 md12>
                                    <v-text-field
                                      label="เลขที่บัตรประชาชน"
                                      v-model="postData.ID_card"
                                      color="#2C3A47"
                                    ></v-text-field>
                                  </v-flex>
                                </v-col>
                                <v-col cols="12" sm="4">
                                  <v-menu
                                    ref="menu2"
                                    v-model="menu2"
                                    :close-on-content-click="false"
                                    :return-value.sync="postData.birthday"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="290px"
                                  >
                                    <template v-slot:activator="{ on, attrs }">
                                      <v-text-field
                                        v-model="postData.birthday"
                                        label="วัน/เดือน/ปีเกิด"
                                        prepend-icon="mdi-calendar"
                                        readonly
                                        v-bind="attrs"
                                        v-on="on"
                                      ></v-text-field>
                                    </template>
                                    <v-date-picker
                                      v-model="postData.birthday"
                                      no-title
                                      scrollable
                                      locale="th"
                                    >
                                      <v-spacer></v-spacer>
                                      <v-btn
                                        text
                                        color="primary"
                                        @click="menu2 = false"
                                      >
                                        Cancel
                                      </v-btn>
                                      <v-btn
                                        text
                                        color="primary"
                                        @click="
                                          $refs.menu2.save(postData.birthday)
                                        "
                                      >
                                        OK
                                      </v-btn>
                                    </v-date-picker>
                                  </v-menu>
                                </v-col>
                                <v-col cols="12" sm="4">
                                  <v-select
                                    v-model="postData.sex"
                                    :items="sexs"
                                    label="เพศ"
                                  ></v-select>
                                </v-col>
                              </v-row>
                              <v-row>
                                <v-col cols="12" sm="4">
                                  <v-flex xs12 sm12 md12>
                                    <v-text-field
                                      type="number"
                                      label="จำนวนบุตร/ธิดา"
                                      v-model="postData.number_of_children"
                                      color="#2C3A47"
                                    ></v-text-field>
                                  </v-flex>
                                </v-col>
                                <v-col cols="12" sm="4">
                                  <v-flex xs12 sm12 md12>
                                    <v-text-field
                                      label="ศาสนา"
                                      v-model="postData.religion"
                                      color="#2C3A47"
                                    ></v-text-field>
                                  </v-flex>
                                </v-col>
                                <v-col cols="12" sm="4">
                                  <v-select
                                    v-model="postData.status"
                                    :items="statuses"
                                    label="สถานภาพ"
                                  ></v-select>
                                </v-col>
                              </v-row>
                              <v-row>
                                <v-col cols="12" sm="4"> </v-col>
                                <v-col cols="12" sm="4">
                                  <v-flex xs12 sm12 md12>
                                    <v-text-field
                                      label="ภูมิลำเนาเดิม"
                                      v-model="postData.hometown"
                                      color="#2C3A47"
                                    ></v-text-field>
                                  </v-flex>
                                </v-col>
                                <v-col cols="12" sm="4"> </v-col>
                              </v-row>
                              <v-row>
                                <v-col cols="12" sm="4">
                                  <v-flex xs12 sm12 md12>
                                    <v-text-field
                                      label="เชื้อชาติ"
                                      v-model="postData.nationality"
                                      color="#2C3A47"
                                    ></v-text-field>
                                  </v-flex>
                                </v-col>
                                <v-col cols="12" sm="4">
                                  <v-flex xs12 sm12 md12>
                                    <v-text-field
                                      label="สัญชาติ"
                                      v-model="postData.ethnicity"
                                      color="#2C3A47"
                                    ></v-text-field>
                                  </v-flex>
                                </v-col>
                                <v-col cols="12" sm="4">
                                  <v-select
                                    v-model="postData.blood_type"
                                    :items="blood_types"
                                    label="หมู่เลือด"
                                  ></v-select>
                                </v-col>
                              </v-row>
                              <v-row>
                                <v-col cols="12" sm="4">
                                  <v-flex xs12 sm12 md12>
                                    <v-text-field
                                      label="เบอร์โทรศัพท์"
                                      v-model="postData.phone_number"
                                      color="#2C3A47"
                                    ></v-text-field>
                                  </v-flex>
                                </v-col>
                                <v-col cols="12" sm="4">
                                  <v-flex xs12 sm12 md12>
                                    <v-text-field
                                      label="E-mail"
                                      v-model="postData.email"
                                      color="#2C3A47"
                                    ></v-text-field>
                                  </v-flex>
                                </v-col>
                                <v-col cols="12" sm="4">
                                  <v-flex xs12 sm12 md12>
                                    <v-text-field
                                      label="ที่อยู่ที่สามารถติดต่อได้"
                                      v-model="postData.address_to_contact"
                                      color="#2C3A47"
                                    ></v-text-field>
                                  </v-flex>
                                </v-col>
                              </v-row>
                            </v-container>
                          </v-card-text>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                              color="#2C3A47"
                              dark
                              @click="close"
                              outlined
                              width="150px"
                            >
                              <v-icon left>exit_to_app</v-icon> ปิด
                            </v-btn>
                            <v-btn
                              color="light-green darken-4"
                              dark
                              type="submit"
                              outlined
                              width="150px"
                            >
                              <v-icon left>save</v-icon> {{ saveDialog }}
                            </v-btn>
                          </v-card-actions>
                        </v-form>
                      </v-card>
                    </v-dialog>
                  </v-card-title>
                  <v-data-table
                    item-key="id"
                    :headers="headers"
                    :items="posts"
                    :search="search"
                  >
                    <template v-slot:item.actions="{ item }">
                      <v-btn
                        color="primary"
                        class="mx-1"
                        fab
                        small
                        @click="checkData(item)"
                        outlined
                      >
                        <v-icon small>receipt</v-icon>
                      </v-btn>
                      <v-btn
                        color="success"
                        fab
                        small
                        @click="editPost(item)"
                        outlined
                      >
                        <v-icon small>mdi-pencil</v-icon>
                      </v-btn>
                      <v-btn
                        color="pink"
                        class="mx-1"
                        fab
                        small
                        @click="deletePost(item._id)"
                        outlined
                      >
                        <v-icon small>mdi-delete</v-icon>
                      </v-btn>
                    </template>
                    <template v-slot:no-results>
                      <v-alert :value="true" color="pink" icon="warning" dark>
                        Your Search {{ search }} does not exist.
                      </v-alert>
                    </template>
                  </v-data-table>
                </v-card>
              </v-container>
            </v-card>
            <v-snackbar v-model="snackbar" top right :color="color">
              {{ text }}
              <v-btn color="black" text @click="snackbar = false">
                Fermer
              </v-btn>
            </v-snackbar>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
    <v-btn
      v-scroll="onScroll"
      bottom
      color="red"
      dark
      fab
      fixed
      right
      @click="toTop"
    >
      <v-icon>mdi-chevron-up</v-icon>
    </v-btn>
  </v-app>
</template>
<script>
import axios from 'axios'
export default {
  props: {
    source: String
  },
  data: () => ({
    mini: false,
    dialog: false,
    fab: false,
    search: '',
    snackbar: false,
    text: '',
    color: '',
    posts: [],
    prefixs: ['', 'นาย', 'นาง', 'นางสาว'],
    sexs: ['', 'ชาย', 'หญิง'],
    statuses: ['', 'โสด', 'สมรส', 'หม้าย', 'หย่า', 'แยกกันอยู่'],
    blood_types: ['', 'A', 'B', 'O', 'AB'],
    menu: false,
    menu2: false,
    headers: [
      { text: 'ชื่อ-นามสกุล', value: 'name_surname', sortable: true },
      { text: 'ฝ่าย/กอง/ภาควิชา', value: 'division', sortable: true },
      { text: 'ตำแหน่ง', value: 'position', sortable: false },
      { text: 'เครื่องมือ', value: 'actions', sortable: false, width: '180px' }
    ],
    postData: {
      name_surname: '',
      position: '',
      prefix: '',
      service_date: new Date().toISOString().substr(0, 10),
      birthday: new Date().toISOString().substr(0, 10),
      ID_card: ''
    },
    default: {
      name_surname: '',
      position: '',
      prefix: '',
      service_date: '',
      birthday: '',
      ID_card: ''
    },
    editedIndex: -1
  }),
  watch: {
    dialog (val) {
      val || this.close()
    }
  },
  computed: {
    saveDialog () {
      return this.editedIndex === -1 ? 'Save' : 'บันทึก'
    }
  },
  mounted () {
    this.loadPosts()
  },
  methods: {
    loadPosts: async function () {
      let apiURL = 'http://localhost:4000/api/'
      axios
        .get(apiURL)
        .then(res => {
          this.posts = res.data
        })
        .catch(error => {
          console.log(error)
        })
    },

    onScroll (e) {
      if (typeof window === 'undefined') return
      const top = window.pageYOffset || e.target.scrollTop || 0
      this.fab = top > 20
    },
    toTop () {
      this.$vuetify.goTo(0)
    },
    close () {
      this.dialog = false
      setTimeout(() => {
        this.postData = Object.assign({}, this.default)
        this.editedIndex = -1
      }, 300)
    },
    savePost: async function () {
      if (this.editedIndex > -1) {
        this.updatePost()
      } else {
        this.createPost()
      }
    },
    createPost () {
      let apiURL = 'http://localhost:4000/api/create-post'
      axios
        .post(apiURL, this.postData)
        .then(() => {
          this.postData = {
            name_surname: '',
            position: '',
            prefix: '',
            service_date: '',
            birthday: '',
            ID_card: ''
          }
          this.close()
          this.loadPosts()
          this.color = 'success'
          this.text = 'Post has been successfully saved.'
          this.snackbar = true
        })
        .catch(error => {
          console.log(error)
        })
    },
    editPost (item) {
      this.editedIndex = this.posts.indexOf(item)
      this.postData = Object.assign({}, item)
      this.dialog = true
    },
    updatePost () {
      let apiURL = `http://localhost:4000/api/update-post/${this.postData._id}`
      axios
        .post(apiURL, this.postData)
        .then(res => {
          console.log(res)
          this.close()
          this.loadPosts()
          this.color = 'info'
          this.text = 'Post has been modified.'
          this.snackbar = true
        })
        .catch(error => {
          console.log(error)
          console.log(this.$route.params.id)
        })
    },
    deletePost (id) {
      this.$swal({
        title: 'ยืนยันการลบข้อมูลบุคลากร',
        text: 'คุณต้องการจะลบข้อมูลบุคลาการคนนี้ใช่หรือไหม?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d63031',
        cancelButtonColor: '#',
        confirmButtonText: 'ลบ',
        cancelButtonText: 'ไม่'
      }).then(result => {
        // Send request to the server
        if (result.value) {
          try {
            let apiURL = `http://localhost:4000/api/delete-post/${id}`
            let indexOfArrayItem = this.posts.findIndex(i => i._id === id)
            axios
              .delete(apiURL)
              .then(() => {
                this.posts.splice(indexOfArrayItem, 1)
              })
              .catch(error => {
                console.log(error)
              })
            this.$swal(
              'ลบข้อมูลสำเร็จ!',
              'ข้อมูลบุคลากรนี้ถูกลบแล้ว',
              'success'
            )
            //Notification error
            this.color = 'error'
            this.text = 'User has been deleted.'
            this.snackbar = true
            //Notification error
          } catch (error) {
            this.$swal('Failed!', 'There was something wrong.', 'warning')
          }
        }
      })
    }
  }
}
</script>
