<template>
  <v-container fluid class="my-10">
    <div class="login">
      <v-layout nor wrap>
        <v-flex xs12 sm6 offset-sm3>
          <v-layout class="justify-center">
            <v-img
              lazy-src="https://picsum.photos/id/11/10/6"
              height="280"
              width="50"
              src="https://picsum.photos/id/11/500/300"
            ></v-img>

            <v-divider vertical class="ma-12 "></v-divider>
            <v-col>
              <v-row class="justify-space-around">
                <h3>
                  เข้าสู่ระบบ
                </h3>
              </v-row>
              <v-row>
                <v-text-field
                  label="ชื่อผู้ใช้"
                  v-model="username"
                ></v-text-field>
              </v-row>
              <v-row>
                <v-text-field
                  name="password"
                  label="รหัสผ่าน"
                  :type="value ? 'password' : 'text'"
                  v-model="password"
                  :append-icon="value ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="() => (value = !value)"
                ></v-text-field>
              </v-row>
              <v-row class="mt-5">
                <v-flex class="d-flex justify-space-around mb-3">
                  <v-btn rounded @click="login" class="blue-grey lighten-4"
                    >เข้าสู่ระบบ</v-btn
                  >
                </v-flex>
              </v-row>
              <v-row>
                <v-flex class="d-flex justify-space-around"
                  ><v-btn
                    rounded
                    text
                    @click="forgot"
                    color="blue-grey darken-4"
                    class="ma-2"
                    href="https://myid.buu.ac.th/recovery"
                    >ลืมรหัสผ่าน</v-btn
                  ></v-flex
                >
              </v-row>
            </v-col>
          </v-layout>
        </v-flex>
      </v-layout>
    </div>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      value: String,
      username: '',
      password: '',
      users: [
        {
          username: 'BB',
          password: '123'
        },
        {
          username: 'Frozen',
          password: 'Yogurt'
        }
      ]
    }
  },
  methods: {
    login () {
      if (this.username === '' || this.password === '') return
      console.log(this.username + ' ' + this.password)
    }
  }
}
</script>
