<template>
  <v-container>
    <v-card class="mx-auto my-12">
      <div class="blue-grey lighten-5">
        <v-card-title>
          <p class="display-1 ma-2" centered>
            ข้อมูลส่วนบุคคล
          </p>
        </v-card-title>
      </div>
      <v-card-text>
        <v-row>
          <v-col class="text--primary text-right pr-1">คำนำหน้า :</v-col>
          <v-col class="text--primary text-left pl-1">{{ users.prefix }}</v-col>
          <v-col class="text--primary text-right pr-1">ชื่อ-นามสุกล :</v-col>
          <v-col class="text--primary text-left pl-1">{{
            users.name_surname
          }}</v-col>
          <v-col class="text--primary text-right pr-1">วันที่รับราชการ :</v-col>
          <v-col class="text--primary text-left pl-1">{{
            users.service_date
          }}</v-col>
        </v-row>

        <v-row>
          <v-col class="text--primary text-right pr-1">เลขที่อัตรา :</v-col>
          <v-col class="text--primary text-left pl-1">{{
            users.ratenumber
          }}</v-col>
          <v-col class="text--primary text-right pr-1">ตำแหน่ง : </v-col>
          <v-col class="text--primary text-left pl-1">{{
            users.position
          }}</v-col>
          <v-col class="text--primary text-right pr-1"
            >ฝ่าย/กอง/ภาควิชา :
          </v-col>
          <v-col class="text--primary text-left pl-1">{{
            users.division
          }}</v-col>
        </v-row>

        <v-row>
          <v-col class="text--primary text-right pr-1">สังกัด :</v-col>
          <v-col class="text--primary text-left pl-1">{{
            users.affiliate
          }}</v-col>
          <v-col class="text--primary text-right pr-1">งาน/สาขาวิชา :</v-col>
          <v-col class="text--primary text-left pl-1">{{ users.branch }}</v-col>
          <v-col class="text--primary text-right pr-1">สายงาน :</v-col>
          <v-col class="text--primary text-left pl-1">{{
            users.line_of_work
          }}</v-col>
        </v-row>

        <v-row>
          <v-col class="text--primary text-right pr-1"
            >เลขที่บัตรประชาชน :</v-col
          >
          <v-col class="text--primary text-left pl-1">{{
            users.ID_Card
          }}</v-col>
          <v-col class="text--primary text-right pr-1"
            >วัน/เดือน/ปีเกิด :</v-col
          >
          <v-col class="text--primary text-left pl-1">{{
            users.birthday
          }}</v-col>
          <v-col class="text--primary text-right pr-1">เพศ :</v-col>
          <v-col class="text--primary text-left pl-1">{{ users.sex }}</v-col>
        </v-row>

        <v-row>
          <v-col class="text--primary text-right pr-1">จำนวนบุตร/ธิดา :</v-col>
          <v-col class="text--primary text-left pl-1">{{
            users.number_of_children
          }}</v-col>
          <v-col class="text--primary text-right pr-1">ศาสนา :</v-col>
          <v-col class="text--primary text-left pl-1">{{
            users.religion
          }}</v-col>
          <v-col class="text--primary text-right pr-1">สถานภาพ :</v-col>
          <v-col class="text--primary text-left pl-1">{{ users.status }}</v-col>
        </v-row>

        <v-row>
          <v-col class="text--primary text-right pr-1">หมู่เลือด :</v-col>
          <v-col class="text--primary text-left pl-1">{{
            users.blood_type
          }}</v-col>
          <v-col class="text--primary text-right pr-1">ภูมิลำเนาเดิม :</v-col>
          <v-col class="text--primary text-left pl-1">{{
            users.hometown
          }}</v-col>
          <v-col class="text--primary text-right pr-1">เชื้อชาติ :</v-col>
          <v-col class="text--primary text-left pl-1">{{
            users.nationality
          }}</v-col>
        </v-row>

        <v-row>
          <v-col class="text--primary text-right pr-1">เบอร์โทรศัพท์ :</v-col>
          <v-col class="text--primary text-left pl-1">{{
            users.phone_number
          }}</v-col>
          <v-col class="text--primary text-right pr-1">E-mail :</v-col>
          <v-col class="text--primary text-left pl-1">{{ users.email }}</v-col>
          <v-col class="text--primary text-right pr-1"
            >ที่อยู่ที่สามารถติดต่อได้ :</v-col
          >
          <v-col class="text--primary text-left pl-1">{{
            users.address_to_contact
          }}</v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-container>
</template>
<script>
export default {
  data () {
    return {
      users: {
        prefix: 'นาง',
        name_surname: 'สุชาภา โชติวีระวุฒิกุล',
        ratenumber: '12345',
        position: 'นักวิชาการคอมพิวเตอร์',
        affiliate: 'บูรพา',
        division: 'สำนักงานผู้อำนวยการ',
        branch: 'หอสมุด',
        ID_Card: 1234567890123,
        birthday: '1/1/63',
        sex: 'หญิง',
        number_of_children: '0',
        religion: 'พุทธ',
        status: 'โสด',
        blood_type: 'B',
        hometown: '20/14 ถ.บางแสนล่าง ต.แสนสุข อ.เมือง จ.ชลบุรี 20130',
        address_to_contact: 'ยาวเหมือนกันเดียวค่อยใส่',
        service_date: '1/1/64',
        line_of_work: 'วิชาการคอมพิวเตอร์',
        nationality: 'ไทย',
        Ethnicity: 'ไทย',
        phone_number: '0899994509',
        email: 'YouNooB@hothead.com'
      }
    }
  }
}
</script>
