<template v-slot:activator="{ on }">
  <v-app>
    <div>
      <v-toolbar class="blue-grey lighten-3">
        <span class="hidden-md-and-up">
          <v-app-bar-nav-icon @click="sidebar = !sidebar"></v-app-bar-nav-icon>
        </span>
        <v-toolbar-title to="/">
          <router-link to="/" tag="span" style="cursor: pointer">
            ระบบจัดการบุคคากร
          </router-link>
        </v-toolbar-title>

        <v-spacer></v-spacer>

        <v-toolbar-items>
          <v-btn
            v-for="item in menuitems"
            :key="item.title"
            :to="item.link"
            class="hidden-sm-and-down"
            text
          >
            {{ item.title }}
          </v-btn>
          <v-list-item class="hidden-sm-and-down">
            <v-icon>mdi-weather-sunny</v-icon>
            <v-list-item-action class="ml-2">
              <v-switch
                v-model="$vuetify.theme.dark"
                hint="This toggles the global state of the Vuetify theme"
                inset
                persistent-hint
              ></v-switch>
            </v-list-item-action>
            <v-icon>mdi-weather-night</v-icon>
          </v-list-item>
        </v-toolbar-items>
        <v-btn icon>
          <v-icon>mdi-export</v-icon>
        </v-btn>
      </v-toolbar>
      <v-navigation-drawer v-model="sidebar" absolute disable-resize-watcher>
        <v-list>
          <v-list-item>
            <v-list-item-content>ระบบจัดการบุคคากร</v-list-item-content>
            <v-list-item-action>
              <v-btn icon @click.stop="sidebar = !sidebar">
                <v-icon>mdi-chevron-left</v-icon>
              </v-btn>
            </v-list-item-action>
          </v-list-item>
          <v-divider></v-divider>
          <v-list-item
            v-for="item in menuitems"
            :key="item.title"
            :to="item.link"
          >
            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
    </div>
    <v-content>
      <router-view></router-view>
    </v-content>
    <v-footer padless>
      <v-col class="text-center blue-grey lighten-3" cols="12">
        {{ new Date().getFullYear() }} — <strong>©BBOverdose</strong>
      </v-col>
    </v-footer>
  </v-app>
</template>

<script>
import ResizeText from 'vue-resize-text'
export default {
  name: 'App',
  directives: {
    ResizeText
  },
  data: () => ({
    sidebar: false,
    menuitems: [
      { title: 'Home', link: 'home' },
      { title: 'About', link: 'about' },
      { title: 'Form', link: 'form' },
      { title: 'CRUD', link: 'crud' },
      { title: 'Profile', link: 'profile' }
    ]
  })
}
</script>
